.version.index /* version checker */
{
	color: #0000E6;
	background-color: #88B6B3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 0px;
	border-width: 0px;
	border-color: #000000;
	padding-top: 62px;
	padding-bottom: 438px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/overmountain%20tactical.jpg") no-repeat left top;
	background-size: cover;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 368px;
}

