.version.index /* version checker */
{
	color: #000016;
	background-color: #6A396D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 128px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 372px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u155-4
{
	z-index: 2;
	min-height: 128px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	font-family: kaushan-script, sans-serif;
	font-weight: 400;
	position: relative;
	width: 42.3%;
	margin-left: 28.86%;
	left: 0px;
}

.html
{
	background: #9E9A75 url("../images/overmountain%20tactical.jpg") no-repeat center center fixed;
	background-size: contain;
}

body
{
	position: relative;
	min-width: 320px;
}

