@font-face {
	font-family: Josefin Slab;
	src: local("Josefin Slab"), local("JosefinSlab"), url(https://fonts.gstatic.com/s/josefinslab/v6/46aYWdgz-1oFX11flmyEfXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
