@font-face {
	font-family: Alef;
	src: local("Alef Regular"), local("Alef-Regular"), url(https://fonts.gstatic.com/s/alef/v6/C8wmYJieZdfX3SNk-GwKVA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Amatica SC;
	src: local("Amatica SC"), local("AmaticaSC-Regular"), url(https://fonts.gstatic.com/s/amaticasc/v1/r4IyjqPgTL10SERuDuUzpBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Arimo;
	src: local("Arimo"), url(https://fonts.gstatic.com/s/arimo/v9/wZLYhRRxZWGToTRP78bqJQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Assistant;
	src: local("Assistant"), local("Assistant-Regular"), url(https://fonts.gstatic.com/s/assistant/v1/Uc4viXlMMsk3-slnOukfHD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Cousine;
	src: local("Cousine"), url(https://fonts.gstatic.com/s/cousine/v10/CJJ-BXzwL4jWItOg5qolAA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: David Libre;
	src: local("David Libre"), local("DavidLibre-Regular"), url(https://fonts.gstatic.com/s/davidlibre/v1/Vz9vXoACjmVAoW3IxuaHLYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Frank Ruhl Libre;
	src: local("Frank Ruhl Libre"), local("FrankRuhlLibre-Regular"), url(https://fonts.gstatic.com/s/frankruhllibre/v1/yDLloNqBpFmakCImLv4OJrdwje-2aRmMsDzIsfkn3Is.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Heebo;
	src: local("Heebo"), local("Heebo-Regular"), url(https://fonts.gstatic.com/s/heebo/v2/nG4_PcIBvo3dTbWpBEGNCQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Miriam Libre;
	src: local("Miriam Libre"), local("MiriamLibre-Regular"), url(https://fonts.gstatic.com/s/miriamlibre/v1/Ljtpu8zR5iJWmlN3Faba5XhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	src: local("Rubik"), local("Rubik-Regular"), url(https://fonts.gstatic.com/s/rubik/v4/KOAvUwfoM3DiLr6_Ac8qkg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	src: local("Rubik Medium"), local("Rubik-Medium"), url(https://fonts.gstatic.com/s/rubik/v4/dr9AO_oRJOJvBo3VnoPe1_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Secular One;
	src: local("Secular One"), local("SecularOne-Regular"), url(https://fonts.gstatic.com/s/secularone/v1/Bt9hCbXtVHCjlv_xsF8oqYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Suez One;
	src: local("Suez One"), local("SuezOne-Regular"), url(https://fonts.gstatic.com/s/suezone/v1/8s2abxzjqcBqxceKUI_RsPesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Tinos;
	src: local("Tinos"), url(https://fonts.gstatic.com/s/tinos/v9/C8vzv480UKDveCPk8l9XHQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Varela Round;
	src: local("Varela Round Regular"), local("VarelaRound-Regular"), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
