@font-face {
	font-family: Cairo;
	src: local("Cairo"), local("Cairo-Regular"), url(https://fonts.gstatic.com/s/cairo/v1/zGHW--BYpblqncT3SLvtYw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Changa;
	src: local("Changa"), local("Changa-Regular"), url(https://fonts.gstatic.com/s/changa/v2/9HvORavVk9AFql2e_cI0LA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lalezar;
	src: local("Lalezar"), local("Lalezar-Regular"), url(https://fonts.gstatic.com/s/lalezar/v1/c-0nXilUugMWH-EFkdK71w.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Reem Kufi;
	src: local("Reem Kufi Regular"), local("ReemKufi-Regular"), url(https://fonts.gstatic.com/s/reemkufi/v1/FTp4cbXHs33vRJgqopuR4j8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
