@font-face {
	font-family: Libre Baskerville;
	src: local("Libre Baskerville Italic"), local("LibreBaskerville-Italic"), url(https://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5dgliI79_bmRXH6crmREtCo.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
