@font-face {
	font-family: Abel;
	src: local("Abel"), local("Abel-Regular"), url(https://fonts.gstatic.com/s/abel/v6/EAqh528fFdbUek8UOky4sA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Anton;
	src: local("Anton Regular"), local("Anton-Regular"), url(https://fonts.gstatic.com/s/anton/v8/tilmJBBU81h1G7ZsdY3Hmw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Arvo;
	src: local("Arvo"), url(https://fonts.gstatic.com/s/arvo/v9/WJ6D195CfbTRlIs49IbkFw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Arvo;
	src: local("Arvo Bold"), local("Arvo-Bold"), url(https://fonts.gstatic.com/s/arvo/v9/0Aa8aBJcGN1n1zDNhqNrnQ.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Bangers;
	src: local("Bangers Regular"), local("Bangers-Regular"), url(https://fonts.gstatic.com/s/bangers/v9/DqeGA7eaz0hhOYTfkeJBIA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bevan;
	src: local("Bevan Regular"), local("Bevan-Regular"), url(https://fonts.gstatic.com/s/bevan/v8/kZxOvEFDTL6rhtQAWC2LTw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bitter;
	src: local("Bitter-Regular"), url(https://fonts.gstatic.com/s/bitter/v10/SHIcXhdd5RknatSgOzyEkA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bitter;
	src: local("Bitter-Bold"), url(https://fonts.gstatic.com/s/bitter/v10/evC1haE-MsorTl_A7_uSGT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Changa One;
	src: local("Changa One"), local("ChangaOne"), url(https://fonts.gstatic.com/s/changaone/v9/QmTOgNNWM9ly3K3B2X29HBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Chewy;
	src: local("Chewy"), url(https://fonts.gstatic.com/s/chewy/v7/nB-Yp57-ChbdqJ4CkQVXAQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Codystar;
	src: local("Codystar"), url(https://fonts.gstatic.com/s/codystar/v4/BraFEMRumMsVbWgqTQIWRPesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Copse;
	src: local("Copse"), url(https://fonts.gstatic.com/s/copse/v6/wpqdPiqIhpZbF5z3WfvSXg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Damion;
	src: local("Damion"), url(https://fonts.gstatic.com/s/damion/v6/qyDz-al48wZmmi6RcQn1Mg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Dosis;
	src: local("Dosis ExtraLight"), local("Dosis-ExtraLight"), url(https://fonts.gstatic.com/s/dosis/v6/zuuDDmIlQfJeEM3Uf6kkpvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Dosis;
	src: local("Dosis Regular"), local("Dosis-Regular"), url(https://fonts.gstatic.com/s/dosis/v6/xIAtSaglM8LZOYdGmG1JqQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Dosis;
	src: local("Dosis ExtraBold"), local("Dosis-ExtraBold"), url(https://fonts.gstatic.com/s/dosis/v6/k9xA3bmr7wstksq4xsFJafesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Droid Serif;
	src: local("Droid Serif"), local("DroidSerif"), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Droid Serif;
	src: local("Droid Serif Bold Italic"), local("DroidSerif-BoldItalic"), url(https://fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEpgRV2F9RPTaqyJ4QibDfkzM.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Francois One;
	src: local("Francois One Regular"), local("FrancoisOne-Regular"), url(https://fonts.gstatic.com/s/francoisone/v10/bYbkq2nU2TSx4SwFbz5sCHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Fredericka the Great;
	src: local("Fredericka the Great"), local("FrederickatheGreat"), url(https://fonts.gstatic.com/s/frederickathegreat/v5/7Es8Lxoku-e5eOZWpxw18vc3vBAn7YvtW9hNjxWZBR0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Fugaz One;
	src: local("Fugaz One"), local("FugazOne-Regular"), url(https://fonts.gstatic.com/s/fugazone/v6/foh--NswBHNPbRHy7yEyyD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Geo;
	src: local("Geo"), local("Geo-Regular"), url(https://fonts.gstatic.com/s/geo/v8/av0TkpgOwGmqABT09bQMSA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Grand Hotel;
	src: local("Grand Hotel"), local("GrandHotel-Regular"), url(https://fonts.gstatic.com/s/grandhotel/v4/NrGQkrs9rbHm5EYx0Eil0obN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Gravitas One;
	src: local("Gravitas One"), local("GravitasOne"), url(https://fonts.gstatic.com/s/gravitasone/v6/nBHdBv6zVNU8MtP6w9FwTXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Hammersmith One;
	src: local("Hammersmith One"), local("HammersmithOne"), url(https://fonts.gstatic.com/s/hammersmithone/v7/FWNn6ITYqL6or7ZTmBxRhq3fkYX5z1QtDUdIWoaaD_k.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Kreon;
	src: local("Kreon Regular"), local("Kreon-Regular"), url(https://fonts.gstatic.com/s/kreon/v9/a5r0-iMPk2rygJI75EuckA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Kreon;
	src: local("Kreon Bold"), local("Kreon-Bold"), url(https://fonts.gstatic.com/s/kreon/v9/lG8WSXDYq5VbwwKU5QHgb_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Libre Baskerville;
	src: local("Libre Baskerville"), local("LibreBaskerville-Regular"), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5Rby8KfwQsaipLBqMCVNtM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Libre Baskerville;
	src: local("Libre Baskerville Bold"), local("LibreBaskerville-Bold"), url(https://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5vz8SLKRGgamuUl1hIefMyNI.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Libre Baskerville;
	src: local("Libre Baskerville Italic"), local("LibreBaskerville-Italic"), url(https://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5dgliI79_bmRXH6crmREtCo.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Lobster;
	src: local("Lobster"), local("Lobster-Regular"), url(https://fonts.gstatic.com/s/lobster/v18/MWVf-Rwh4GLQVBEwbyI61Q.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Love Ya Like A Sister;
	src: local("Love Ya Like A Sister Regular"), local("LoveYaLikeASister-Regular"), url(https://fonts.gstatic.com/s/loveyalikeasister/v7/LzkxWS-af0Br2Sk_YgSJY5HSI-O7NEBdNbD5SV3GSEY.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	src: local("Merriweather"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Monoton;
	src: local("Monoton"), local("Monoton-Regular"), url(https://fonts.gstatic.com/s/monoton/v6/AKI-lyzyNHXByGHeOcds_w.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Mr Dafoe;
	src: local("Mr Dafoe Regular"), local("MrDafoe-Regular"), url(https://fonts.gstatic.com/s/mrdafoe/v5/F1AgEicuA-Vh7KAhE4UhjfesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Muli;
	src: local("Muli Regular"), local("Muli-Regular"), url(https://fonts.gstatic.com/s/muli/v10/kU4XYdV4jtS72BIidPtqyw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Oranienbaum;
	src: local("Oranienbaum"), local("Oranienbaum-Regular"), url(https://fonts.gstatic.com/s/oranienbaum/v5/WyaFSM_en0pjtlmUWwS7GYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Oswald;
	src: local("Oswald Regular"), local("Oswald-Regular"), url(https://fonts.gstatic.com/s/oswald/v13/-g5pDUSRgvxvOl5u-a_WHw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Oxygen;
	src: local("Oxygen"), local("Oxygen-Regular"), url(https://fonts.gstatic.com/s/oxygen/v5/RzoNiRR1p2Mqyyz2RwqSMw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Pacifico;
	src: local("Pacifico Regular"), local("Pacifico-Regular"), url(https://fonts.gstatic.com/s/pacifico/v9/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Passion One;
	src: local("Passion One"), local("PassionOne-Regular"), url(https://fonts.gstatic.com/s/passionone/v6/fY6k21F1QT2c_Oc3HRNDwobN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Permanent Marker;
	src: local("Permanent Marker"), local("PermanentMarker"), url(https://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMupm9E4gBdgiUiSJePew_SQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Petit Formal Script;
	src: local("Petit Formal Script"), local("PetitFormalScript-Regular"), url(https://fonts.gstatic.com/s/petitformalscript/v4/OEZwr2-ovBsq2n3ACCKoEtgdb3q9Ts3XkY9bkaxM24g.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Play;
	src: local("Play"), local("Play-Regular"), url(https://fonts.gstatic.com/s/play/v7/-SXnV4mZjf4oh1IBw13WZw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Playfair Display;
	src: local("Playfair Display"), local("PlayfairDisplay-Regular"), url(https://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1CZa6Tn9fxpDPuRSK4Gn5Ybw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Playfair Display;
	src: local("Playfair Display Black"), local("PlayfairDisplay-Black"), url(https://fonts.gstatic.com/s/playfairdisplay/v10/UC3ZEjagJi85gF9qFaBgIAG5DHOz35zlU4kDybZd5w0.woff) format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Playfair Display;
	src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"), url(https://fonts.gstatic.com/s/playfairdisplay/v10/9MkijrV-dEJ0-_NWV7E6N3aqFElqJjV-H5EUExnZgmU.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Playfair Display;
	src: local("Playfair Display Black Italic"), local("PlayfairDisplay-BlackItalic"), url(https://fonts.gstatic.com/s/playfairdisplay/v10/n7G4PqJvFP2Kubl0VBLDEPLxYRX_augqRssi2o6umho.woff) format("woff");
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: Playfair Display SC;
	src: local("Playfair Display SC"), local("PlayfairDisplaySC-Regular"), url(https://fonts.gstatic.com/s/playfairdisplaysc/v5/G0-tvBxd4eQRdwFKB8dRkf5twPfG3l5Gc3nk2Vyncrg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Playfair Display SC;
	src: local("Playfair Display SC Bold"), local("PlayfairDisplaySC-Bold"), url(https://fonts.gstatic.com/s/playfairdisplaysc/v5/5ggqGkvWJU_TtW2W8cEubMP2KmjfUHYbcL2S5kCcZ9E.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Playfair Display SC;
	src: local("Playfair Display SC Black"), local("PlayfairDisplaySC-Black"), url(https://fonts.gstatic.com/s/playfairdisplaysc/v5/5ggqGkvWJU_TtW2W8cEubChtWc5S1SmZsIE3Zm-pntA.woff) format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Playfair Display SC;
	src: local("Playfair Display SC Italic"), local("PlayfairDisplaySC-Italic"), url(https://fonts.gstatic.com/s/playfairdisplaysc/v5/myuYiFR-4NTrUT4w6TKls_1ls7q5OOucAZzZe3UpoEM.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Prata;
	src: local("Prata Regular"), local("Prata-Regular"), url(https://fonts.gstatic.com/s/prata/v7/Q4MFb6hnPeDYpBc-5E8p_w.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Quicksand;
	src: local("Quicksand Light"), local("Quicksand-Light"), url(https://fonts.gstatic.com/s/quicksand/v6/qhfoJiLu10kFjChCCTvGlHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Quicksand;
	src: local("Quicksand Regular"), local("Quicksand-Regular"), url(https://fonts.gstatic.com/s/quicksand/v6/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Quicksand;
	src: local("Quicksand Bold"), local("Quicksand-Bold"), url(https://fonts.gstatic.com/s/quicksand/v6/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Qwigley;
	src: local("Qwigley"), local("Qwigley-Regular"), url(https://fonts.gstatic.com/s/qwigley/v6/7kYx3NMo0QlNvVUFn_G-mg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Rokkitt;
	src: local("Rokkitt Regular"), local("Rokkitt-Regular"), url(https://fonts.gstatic.com/s/rokkitt/v11/4Z-2qkHrI1biwaOxvW6ZTA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rozha One;
	src: local("Rozha One"), local("RozhaOne-Regular"), url(https://fonts.gstatic.com/s/rozhaone/v2/UYFFPwb2ZMrchIuzxLAWbz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rubik Mono One;
	src: local("Rubik Mono One Regular"), local("RubikMonoOne-Regular"), url(https://fonts.gstatic.com/s/rubikmonoone/v5/e_cupPtD4BrZzotubJD7UVBxJKh6yxKNX9gPkQCEJy8.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Sail;
	src: local("Sail"), local("Sail-Regular"), url(https://fonts.gstatic.com/s/sail/v7/hcGdwyTB1wNCtGmW0sDsQQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Six Caps;
	src: local("Six Caps"), local("SixCaps"), url(https://fonts.gstatic.com/s/sixcaps/v7/tMrhQDUBAHnnGuM33-yobPesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Teko;
	src: local("Teko Light"), local("Teko-Light"), url(https://fonts.gstatic.com/s/teko/v5/T22Z5oiOb3VCeHF6v2OVJA.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Teko;
	src: local("Teko Regular"), local("Teko-Regular"), url(https://fonts.gstatic.com/s/teko/v5/e9ynvps8NMeBsLRqu0_CGQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Teko;
	src: local("Teko Bold"), local("Teko-Bold"), url(https://fonts.gstatic.com/s/teko/v5/NqjKa14fIH8uRdC7PCZ-0Q.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Ultra;
	src: local("Ultra"), url(https://fonts.gstatic.com/s/ultra/v8/Uwyb9czCiEZ7UnGAgIR6JA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: UnifrakturCook;
	src: local("UnifrakturCook"), local("UnifrakturCook-Bold"), url(https://fonts.gstatic.com/s/unifrakturcook/v8/ASwh69ykD8iaoYijVEU6Rm_7m0YPLwupdydlBc09ccE.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: UnifrakturMaguntia;
	src: local("UnifrakturMaguntia"), url(https://fonts.gstatic.com/s/unifrakturmaguntia/v7/7KWy3ymCVR_xfAvvcIXm3xLmkJ4_pxggemXYRvqU3J0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Viga;
	src: local("Viga-Regular"), url(https://fonts.gstatic.com/s/viga/v5/lfIpncSoqrT5_gbJGaWnGQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Wire One;
	src: local("Wire One"), local("WireOne"), url(https://fonts.gstatic.com/s/wireone/v7/fas9dl2wmMkt5rCu-aBez_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Yellowtail;
	src: local("Yellowtail"), url(https://fonts.gstatic.com/s/yellowtail/v6/GcIHC9QEwVkrA19LJU1qlBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
