.master.item-box.button-effects .preview-item-links span.item-link {
	overflow: hidden; position: relative; transform: translateZ(0px); backface-visibility: hidden; -webkit-backface-visibility: hidden;
}
.master.item-box.button-effects .blocks-preview-item-links span.item-link {
	overflow: hidden; position: relative; transform: translateZ(0px); backface-visibility: hidden; -webkit-backface-visibility: hidden;
}
.button-wrapper .item-link {
	overflow: hidden; position: relative; transform: translateZ(0px); backface-visibility: hidden; -webkit-backface-visibility: hidden;
}
.master.item-box.button-effects .preview-item-links span.item-link:hover {
	
}
.master.item-box.button-effects .blocks-preview-item-links span.item-link:hover {
	
}
.master.item-box.button-effects .preview-item-links span.item-link::before {
	position: absolute; content: ""; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.button-effects .blocks-preview-item-links span.item-link::before {
	position: absolute; content: ""; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper .item-link::before {
	position: absolute; content: ""; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.btn_hover1 .preview-item-links span.item-link {
	transition:box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.btn_hover1 .blocks-preview-item-links span.item-link {
	transition:box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.btn_hover1 .item-link {
	transition:box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.btn_hover1 .preview-item-links span.item-link:hover {
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.master.item-box.btn_hover1 .blocks-preview-item-links span.item-link:hover {
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.button-wrapper.btn_hover1 .item-link:hover {
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.master.item-box.btn_hover2 .preview-item-links span.item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.btn_hover2 .blocks-preview-item-links span.item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.btn_hover2 .item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.btn_hover2 .preview-item-links span.item-link:hover {
	transform: scale(1.3); -webkit-transform: scale(1.3);
}
.master.item-box.btn_hover2 .blocks-preview-item-links span.item-link:hover {
	transform: scale(1.3); -webkit-transform: scale(1.3);
}
.button-wrapper.btn_hover2 .item-link:hover {
	transform: scale(1.3); -webkit-transform: scale(1.3);
}
.master.item-box.btn_hover3 .preview-item-links span.item-link::before {
	left: 0px; height: 100%; right: 0px; bottom: 0px; z-index: -1; opacity: 0; transition-property: opacity; -webkit-transition-property: opacity;
}
.master.item-box.btn_hover3 .blocks-preview-item-links span.item-link::before {
	left: 0px; height: 100%; right: 0px; bottom: 0px; z-index: -1; opacity: 0; transition-property: opacity; -webkit-transition-property: opacity;
}
.button-wrapper.btn_hover3 .item-link::before {
	left: 0px; height: 100%; right: 0px; bottom: 0px; z-index: -1; opacity: 0; transition-property: opacity; -webkit-transition-property: opacity;
}
.master.item-box.btn_hover3 .preview-item-links span.item-link:hover::before {
	opacity: 1;
}
.master.item-box.btn_hover3 .blocks-preview-item-links span.item-link:hover::before {
	opacity: 1;
}
.button-wrapper.btn_hover3 .item-link:hover::before {
	opacity: 1;
}
.master.item-box.btn_hover4 .preview-item-links span.item-link::before {
	left: 0px; height: 0px; right: 0px; bottom: 0px; z-index: -1; transition-property: height; -webkit-transition-property: height;
}
.master.item-box.btn_hover4 .blocks-preview-item-links span.item-link::before {
	left: 0px; height: 0px; right: 0px; bottom: 0px; z-index: -1; transition-property: height; -webkit-transition-property: height;
}
.button-wrapper.btn_hover4 .item-link::before {
	left: 0px; height: 0px; right: 0px; bottom: 0px; z-index: -1; transition-property: height; -webkit-transition-property: height;
}
.master.item-box.btn_hover4 .preview-item-links span.item-link:hover::before {
	height: 100%;
}
.master.item-box.btn_hover4 .blocks-preview-item-links span.item-link:hover::before {
	height: 100%;
}
.button-wrapper.btn_hover4 .item-link:hover::before {
	height: 100%;
}
.master.item-box.btn_hover5 .preview-item-links span.item-link::before {
	left: 51%; height: 4px; right: 50%; bottom: 0px; transition-property: left, right; -webkit-transition-property: left, right;
}
.master.item-box.btn_hover5 .blocks-preview-item-links span.item-link::before {
	left: 51%; height: 4px; right: 50%; bottom: 0px; transition-property: left, right; -webkit-transition-property: left, right;
}
.button-wrapper.btn_hover5 .item-link::before {
	left: 51%; height: 4px; right: 50%; bottom: 0px; transition-property: left, right; -webkit-transition-property: left, right;
}
.master.item-box.btn_hover5 .preview-item-links span.item-link:hover::before {
	left: 0px; right: 0px;
}
.master.item-box.btn_hover5 .blocks-preview-item-links span.item-link:hover::before {
	left: 0px; right: 0px;
}
.button-wrapper.btn_hover5 .item-link:hover::before {
	left: 0px; right: 0px;
}
.master.item-box.btn_hover6 .preview-item-links span.item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.btn_hover6 .blocks-preview-item-links span.item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.btn_hover6 .item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.btn_hover6 .preview-item-links span.item-link:hover {
	transform: translate(0px, -10px); -webkit-transform: translate(0px, -10px);
}
.master.item-box.btn_hover6 .blocks-preview-item-links span.item-link:hover {
	transform: translate(0px, -10px); -webkit-transform: translate(0px, -10px);
}
.button-wrapper.btn_hover6 .item-link:hover {
	transform: translate(0px, -10px); -webkit-transform: translate(0px, -10px);
}
.master.item-box.btn_hover7 .preview-item-links span.item-link:hover::before {
	left: 0px; right: 0px;
}
.master.item-box.btn_hover7 .blocks-preview-item-links span.item-link:hover::before {
	left: 0px; right: 0px;
}
.button-wrapper.btn_hover7 .item-link:hover::before {
	left: 0px; right: 0px;
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect1 .master.item-box .item-wrapper {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect1 .master.item-box.hidden-section .item-wrapper {
	opacity: 0;
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect1 .master.item-box.visible-section .item-wrapper {
	opacity: 1;
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect2 .master.item-box .item-wrapper {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1), transform 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -webkit-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -moz-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect2 .master.item-box.hidden-section .item-wrapper {
	opacity: 0; transform: scale(0.8); -webkit-transform: scale(0.8);
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect2 .master.item-box.visible-section .item-wrapper {
	opacity: 1; transform: scale(1); -webkit-transform: scale(1);
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect3 .master.item-box .item-wrapper {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1), transform 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -webkit-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -moz-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect3 .master.item-box.hidden-section .item-wrapper {
	opacity: 0; transform: translate(0px, 100px); -webkit-transform: translate(0px, 100px);
}
:not(.disable_effects).main-page .scroll-effects.master.container.scroll_effect3 .master.item-box.visible-section .item-wrapper {
	opacity: 1;
}
.master.item-box.items-hover-effects :not(.stripe-header).sub.item-box {
	position: relative; transform: translateZ(0px); backface-visibility: hidden; -webkit-backface-visibility: hidden;
}
.button-wrapper .item-link {
	position: relative; transform: translateZ(0px); backface-visibility: hidden; -webkit-backface-visibility: hidden;
}
.button-wrapper .item-link::after {
	background-color: rgb(32, 152, 209);
}
.master.item-box.items-hover-effects :not(.stripe-header).sub.item-box::after {
	position: absolute; content: ""; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper .item-link::after {
	position: absolute; content: ""; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover1 :not(.stripe-header).sub.item-box {
	transition:box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover1 .item-link {
	transition:box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover1 :not(.stripe-header).sub.item-box:hover {
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.button-wrapper.item_hover1 .item-link:hover {
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.master.item-box.item_hover2 :not(.stripe-header).sub.item-box {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover2 .item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover2 :not(.stripe-header).sub.item-box:hover {
	z-index: 1234567; transform: scale(1.1); -webkit-transform: scale(1.1);
}
.button-wrapper.item_hover2 .item-link:hover {
	z-index: 1234567; transform: scale(1.1); -webkit-transform: scale(1.1);
}
.master.item-box.item_hover3 :not(.stripe-header).sub.item-box .pic-side::after {
	left: 0px; height: 100%; right: 0px; bottom: 0px; position: absolute; z-index: 12345; content: ""; opacity: 0; transition-property: opacity; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-property: opacity;
}
.button-wrapper.item_hover3 .item-link::after {
	left: 0px; height: 100%; right: 0px; bottom: 0px; position: absolute; z-index: 12345; content: ""; opacity: 0; transition-property: opacity; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-property: opacity;
}
.master.item-box.item_hover3 :not(.stripe-header).sub.item-box:hover .pic-side::after {
	opacity: 1;
}
.button-wrapper.item_hover3 .item-link:hover::after {
	opacity: 1;
}
.master.item-box.item_hover4 :not(.stripe-header).sub.item-box .pic-side::after {
	left: 0px; height: 0px; right: 0px; bottom: 0px; position: absolute; z-index: 12345; content: ""; transition-property: height; transition-duration: 0.5s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-property: height;
}
.button-wrapper.item_hover4 .item-link::after {
	left: 0px; height: 0px; right: 0px; bottom: 0px; position: absolute; z-index: 12345; content: ""; transition-property: height; transition-duration: 0.5s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-property: height;
}
.master.item-box.item_hover4 :not(.stripe-header).sub.item-box:hover .pic-side::after {
	height: 100%;
}
.button-wrapper.item_hover4 .item-link:hover::after {
	height: 100%;
}
.master.item-box.item_hover4 :not(.stripe-header).sub.item-box .pic-side .inner-pic {
	transition:transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover4 :not(.stripe-header).sub.item-box:hover .pic-side .inner-pic {
	transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%);
}
.master.item-box.item_hover4 :not(.stripe-header).sub.item-box:hover .pic-side .inner-pic-holder {
	oveflow: hidden;
}
.master.item-box.item_hover4 .sub.item-box:hover .pic-side .image-link {
	oveflow: hidden;
}
.master.item-box.item_hover5 :not(.stripe-header).sub.item-box::after {
	left: 51%; height: 4px; right: 50%; bottom: 0px; z-index: 12345; transition-property: left, right; -webkit-transition-property: left, right;
}
.button-wrapper.item_hover5 .item-link::after {
	left: 51%; height: 4px; right: 50%; bottom: 0px; z-index: 12345; transition-property: left, right; -webkit-transition-property: left, right;
}
.master.item-box.item_hover5 :not(.stripe-header).sub.item-box:hover::after {
	left: 0px; right: 0px;
}
.button-wrapper.item_hover5 .item-link:hover::after {
	left: 0px; right: 0px;
}
.master.item-box.item_hover6 :not(.stripe-header).sub.item-box {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover6 .item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover6 :not(.stripe-header).sub.item-box:hover {
	z-index: 1234567; transform: translate(0px, -10px); -webkit-transform: translate(0px, -10px);
}
.button-wrapper.item_hover6 .item-link:hover {
	z-index: 1234567; transform: translate(0px, -10px); -webkit-transform: translate(0px, -10px);
}
.master.item-box.item_hover7 :not(.stripe-header).sub.item-box {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover7 .item-link {
	transition:transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover7 :not(.stripe-header).sub.item-box:hover {
	transform: scale(0.9); -webkit-transform: scale(0.9);
}
.button-wrapper.item_hover7 .item-link:hover {
	transform: scale(0.9); -webkit-transform: scale(0.9);
}
.master.item-box.item_hover8 :not(.stripe-header).sub.item-box .inner-pic {
	transition:transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) , opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover8 .item-link {
	transition:transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) , opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover8 :not(.stripe-header).sub.item-box:hover .inner-pic {
	opacity: 0.7; transform: scale(1.1); -webkit-transform: scale(1.1);
}
.button-wrapper.item_hover8 .item-link:hover {
	opacity: 0.7; transform: scale(1.1); -webkit-transform: scale(1.1);
}
.master.item-box.item_hover8 :not(.stripe-header).sub.item-box:hover .pic-side .inner-pic-holder {
	oveflow: hidden;
}
.master.item-box.item_hover8 .sub.item-box:hover .pic-side .image-link {
	oveflow: hidden;
}
.button-wrapper.item_hover9 .item-link {
	transition:color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); color: transparent; -webkit-transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover9 .item-link:hover {
	color: white;
}
.master.item-box.item_hover9 :not(.stripe-header).sub.item-box .item-details {
	transition:opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); opacity: 0; -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover9 :not(.stripe-header).sub.item-box:hover .item-details {
	opacity: 1;
}
.button-wrapper.item_hover10 .item-link {
	transition:color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); color: transparent; -webkit-transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover10 .item-link:hover {
	color: white;
}
.master.item-box.item_hover10 :not(.stripe-header).sub.item-box .item-details {
	transition:opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); opacity: 0; -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover10 :not(.stripe-header).sub.item-box:hover .item-details {
	opacity: 1;
}
.master.item-box.item_hover10 :not(.stripe-header).sub.item-box .inner-pic {
	transition:transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) , opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover10 .item-link {
	transition:transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) , opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover10 :not(.stripe-header).sub.item-box:hover .inner-pic {
	opacity: 0.7; transform: scale(1.1); -webkit-transform: scale(1.1);
}
.button-wrapper.item_hover10 .item-link:hover {
	opacity: 0.7; transform: scale(1.1); -webkit-transform: scale(1.1);
}
.master.item-box.item_hover10 :not(.stripe-header).sub.item-box:hover .pic-side .inner-pic-holder {
	oveflow: hidden;
}
.master.item-box.item_hover10 .sub.item-box:hover .pic-side .image-link {
	oveflow: hidden;
}
.master.item-box.item_hover11 :not(.stripe-header).sub.item-box .inner-pic:hover {
	transition:transform 40s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 40s cubic-bezier(0.165, 0.84, 0.44, 1) , opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 40s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover11 .item-link:hover {
	transition:transform 40s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 40s cubic-bezier(0.165, 0.84, 0.44, 1) , opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 40s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover11 :not(.stripe-header).sub.item-box .inner-pic {
	transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) , opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-wrapper.item_hover11 .item-link {
	transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) , opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition: -moz-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.master.item-box.item_hover11 :not(.stripe-header).sub.item-box:hover .inner-pic {
	transform: scale(1.5); -webkit-transform: scale(1.5);
}
.button-wrapper.item_hover11 .item-link:hover {
	transform: scale(1.5); -webkit-transform: scale(1.5);
}
.master.item-box.item_hover11 :not(.stripe-header).sub.item-box:hover .pic-side .inner-pic-holder {
	oveflow: hidden;
}
.master.item-box.item_hover11 .sub.item-box:hover .pic-side .image-link {
	oveflow: hidden;
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter1 .item-details {
	transition:opacity 3s cubic-bezier(0.155, 0.505, 0.175, 1) 0.5s; -webkit-transition: opacity 3s cubic-bezier(0.155, 0.505, 0.175, 1.000) 0.5s; -moz-transition: opacity 3s cubic-bezier(0.155, 0.505, 0.175, 1.000) 0.5s;
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter1 .item-details {
	opacity: 0;
}
.button-wrapper.item_enter1 .item-link {
	opacity: 0;
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter1.visible-section .item-details {
	opacity: 1; transition-delay: 0s; -webkit-transition-delay: 0s;
}
.button-wrapper.item_enter1:hover .item-link {
	opacity: 1; transition-delay: 0s; -webkit-transition-delay: 0s;
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter2 .item-details {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1), transform 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -webkit-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -moz-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter2 .item-details {
	opacity: 0; transform: scale(0.8); -webkit-transform: scale(0.8);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter2 .item-details {
	opacity: 1; transform: scale(1); -webkit-transform: scale(1);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter3 .item-details {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1), transform 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -webkit-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -moz-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter3 .item-details {
	opacity: 0; transform: scale(1.1); -webkit-transform: scale(1.1);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter3 .item-details {
	opacity: 1; transform: scale(1); -webkit-transform: scale(1);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter4 .item-details {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1), transform 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -webkit-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -moz-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter4 .item-details {
	opacity: 0; transform: translate(0px, -100px); -webkit-transform: translate(0px, -100px);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter4 .item-details {
	opacity: 1;
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter5 .item-details {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1), transform 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -webkit-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -moz-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter5 .item-details {
	opacity: 0; transform: translate(0px, 100px); -webkit-transform: translate(0px, 100px);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter5 .item-details {
	opacity: 1;
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter6 .item-details {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1), transform 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -webkit-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -moz-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter6 .item-details {
	opacity: 0; transform: translate(-100px, 0px); -webkit-transform: translate(-100px, 0px);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter6 .item-details {
	opacity: 1;
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter7 .item-details {
	transition:opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1), transform 1s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -webkit-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: opacity 1s cubic-bezier(0.155, 0.505, 0.175, 1.000) , -moz-transform 1s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter7 .item-details {
	opacity: 0; transform: translate(100px, 0px); -webkit-transform: translate(100px, 0px);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter7 .item-details {
	opacity: 1;
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter8 .pic-side {
	transition:transform 2s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: -webkit-transform 2s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: -moz-transform 2s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter8 .pic-side {
	transform: perspective(0px) rotateY(0deg); -webkit-transform: perspective( 0px ) rotateY(0deg);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter8 .pic-side {
	transform: perspective(600px) rotateY(-40deg); -webkit-transform: perspective( 600px ) rotateY(-40deg);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter9 .pic-side {
	transition:transform 2s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: -webkit-transform 2s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: -moz-transform 2s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter9 .pic-side {
	transform: perspective(0px) rotateY(0deg); -webkit-transform: perspective( 0px ) rotateY(0deg);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter9 .pic-side {
	transform: perspective(600px) rotateY(40deg); -webkit-transform: perspective( 600px ) rotateY(40deg);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter10 .pic-side {
	transition:transform 2s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: -webkit-transform 2s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: -moz-transform 2s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter10 .pic-side {
	transform: perspective(0px) rotateY(0deg); -webkit-transform: perspective( 0px ) rotateY(0deg);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter10 .pic-side {
	transform: perspective(500px) rotateX(40deg); -webkit-transform: perspective( 500px ) rotateX(40deg);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter11 .pic-side {
	transition:transform 2s cubic-bezier(0.155, 0.505, 0.175, 1); -webkit-transition: -webkit-transform 2s cubic-bezier(0.155, 0.505, 0.175, 1.000); -moz-transition: -moz-transform 2s cubic-bezier(0.155, 0.505, 0.175, 1.000);
}
:not(.disable_effects).main-page :not(.visible-section).items-enter-effects.master.item-box.item_enter11 .pic-side {
	transform: perspective(0px) rotateY(0deg); -webkit-transform: perspective( 0px ) rotateY(0deg);
}
:not(.disable_effects).main-page .items-enter-effects.master.item-box.item_enter11 .pic-side {
	transform: perspective(500px) rotateX(-40deg); -webkit-transform: perspective( 500px ) rotateX(-40deg);
}
