.light-box-wrapper {
	background: black; left: 0px; top: 0px; width: 100%; height: 100%; text-align: center; display: table; position: fixed;
}
.light-box-image-holder {
	vertical-align: middle; display: table-cell;
}
.light-box-wrapper .lightbox-arrow {
	top: 50%; margin-top: -25px; position: fixed;
}
.light-box-wrapper .lightbox-left {
	left: 0px;
}
.light-box-wrapper .lightbox-right {
	right: 0px;
}
.light-box-image {
	background-position: center; width: 0px; height: 0px; margin-top: -96px; display: inline-block; position: relative; background-repeat: no-repeat; background-size: contain;
}
.lightbox-text-wrapper {
	left: 0px; width: 100%; height: auto; bottom: 0px; color: white; display: table; position: absolute;
}
.lightbox-text-holder {
	padding: 2%; vertical-align: middle; display: table-cell; background-color: black;
}
.lightbox-title {
	font-size: 16px; max-width: 500px;
}
.lightbox-subtitle {
	color: rgb(153, 153, 153); font-size: 12px; max-width: 500px;
}
.close-lightbox-btn {
	top: 0px; width: 30px; height: 30px; right: 0px; position: absolute; opacity: 0;
}
.download-gallery-btn {
	width: 20px; right: 10px; bottom: 60px; position: absolute; opacity: 0.8;
}
.alpha60 {
	background: rgba(0, 0, 0, 0.7);
}
