.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q.master.item-box {
	position: relative; background-color: rgb(243, 240, 225);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links span:hover {
	color: rgb(0, 0, 0); background-color: rgba(147, 147, 147, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-element.Link.hover-tester {
	color: rgb(0, 0, 0); background-color: rgba(147, 147, 147, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links span::before {
	background-color: rgb(181, 181, 181);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .effect-tester {
	background-color: rgb(181, 181, 181);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q.master.item-box {
	width: 94%; padding-right: 3%; padding-left: 3%;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links {
	text-align: center;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-content-holder {
	border-color: rgb(214, 214, 214); text-align: left; margin-top: 0px; margin-right: 0px; margin-left: 0px; max-width: 2000px; background-color: rgba(0, 0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links span {
	border-color: rgba(255, 255, 255, 0.670588); padding: 20px 10px; color: rgb(0, 0, 0); text-transform: uppercase; letter-spacing: 0em; font-family: Abel; font-size: 14px; max-width: 1150px; background-color: rgba(255, 255, 255, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q #sr-basket-widget * {
	border-color: rgba(255, 255, 255, 0.670588); padding: 20px 10px; color: rgb(0, 0, 0); text-transform: uppercase; letter-spacing: 0em; font-family: Abel; font-size: 14px; max-width: 1150px; background-color: rgba(255, 255, 255, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-title {
	color: rgb(50, 50, 60); letter-spacing: 0.05em; font-family: Raleway; font-size: 14px; font-weight: bold; margin-left: 0px; background-color: rgba(255, 255, 255, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-body h1 {
	color: rgb(50, 50, 60); letter-spacing: 0.05em; font-family: Raleway; font-size: 14px; font-weight: bold; margin-left: 0px; background-color: rgba(255, 255, 255, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links.allow-bg-color {
	background-color: rgba(0, 0, 0, 0.619608);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .submenu {
	background-color: rgba(0, 0, 0, 0.619608);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-title-holder {
	text-align: left;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-divider {
	width: 10%; border-bottom-width: 1px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q :not(.blocks_layout).item-content {
	background-color: rgba(244, 203, 74, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-subtitle-holder {
	text-align: left;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .stripe-background {
	margin-left: -3%;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-element.icon-source {
	margin: 0px 10px; width: 30px; color: rgb(0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-content-wrapper {
	text-align: left; vertical-align: bottom;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .middle_layout .helper-div {
	max-width: 1000px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .multi_layout .helper-div.middle-center .text-side {
	max-width: 1000px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-subtitle {
	color: rgba(0, 0, 0, 0.619608); letter-spacing: 0em; font-family: Montserrat; font-size: 16px; margin-top: 0px; margin-right: 0px; margin-left: 0px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-body h2 {
	color: rgba(0, 0, 0, 0.619608); letter-spacing: 0em; font-family: Montserrat; font-size: 16px; margin-top: 0px; margin-right: 0px; margin-left: 0px;
}
