.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-content-holder {
	margin: 50px 0px; padding: 0px; text-align: left; max-width: 550px; background-color: rgba(230, 210, 80, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw :not(.blocks_layout).item-content {
	background-color: rgb(0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-divider {
	border-style: solid; border-color: rgb(255, 255, 255); width: 100%; margin-top: 20px; margin-bottom: 20px; border-bottom-width: 5px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .inner-pic {
	color: rgb(0, 0, 0); opacity: 0.24; -webkit-filter: grayscale(100%);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-subtitle-holder {
	max-width: 650px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .multi_layout .helper-div.middle-center .pic-side {
	margin-left: -6%;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .multi_layout .helper-div.middle-center {
	width: 88%; padding-right: 6%; padding-left: 6%;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .background-div {
	
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw.master.item-box {
	background-color: rgb(255, 255, 255);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-title {
	color: rgb(158, 154, 117); line-height: 1em; letter-spacing: 0em; font-family: "Playfair Display"; font-size: 80px; margin-top: 0px; margin-bottom: 10px; background-color: rgba(255, 255, 255, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-body h1 {
	color: rgb(158, 154, 117); line-height: 1em; letter-spacing: 0em; font-family: "Playfair Display"; font-size: 80px; margin-top: 0px; margin-bottom: 10px; background-color: rgba(255, 255, 255, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .draggable-pic-wrapper {
	
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .draggable-pic {
	
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-item-links span {
	border-width: 2px; border-color: rgba(0, 0, 0, 0); padding: 20px 35px; border-radius: 0px; color: rgb(243, 240, 225); text-transform: uppercase; letter-spacing: 0.1em; font-family: Abel; font-size: 12px; margin-top: 20px; margin-bottom: 25px; background-color: rgb(246, 116, 116);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw #sr-basket-widget * {
	border-width: 2px; border-color: rgba(0, 0, 0, 0); padding: 20px 35px; border-radius: 0px; color: rgb(243, 240, 225); text-transform: uppercase; letter-spacing: 0.1em; font-family: Abel; font-size: 12px; margin-top: 20px; margin-bottom: 25px; background-color: rgb(246, 116, 116);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .stripe-background {
	opacity: 0.61;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-element.icon-source {
	width: 550px; margin-bottom: 15px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .draggable-pic {
	color: rgb(0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .background-image-div {
	color: rgb(0, 0, 0); opacity: 1;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-link-img {
	margin: 14px; width: 30px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-icon-holder {
	margin-bottom: 40px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-body-holder {
	max-width: 800px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-content-wrapper {
	text-align: left; vertical-align: middle;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-item-links span:hover {
	color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-element.Link.hover-tester {
	color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .inner-pic-holder {
	background-color: rgb(85, 72, 64);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-item-links span::before {
	background-color: rgb(0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .effect-tester {
	background-color: rgb(0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-body {
	color: rgb(0, 0, 0); line-height: 1.4em; letter-spacing: 0.05em; font-family: Montserrat; font-size: 62px; margin-top: 10px; margin-bottom: 10px; max-width: 1000px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-social-holder {
	margin-top: 10px; margin-bottom: 10px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .middle_layout .helper-div {
	max-width: 1000px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .multi_layout .helper-div.middle-center .text-side {
	max-width: 1000px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-subtitle {
	margin: 10px 0px 15px; color: rgb(0, 0, 0); line-height: 1.4em; letter-spacing: 0.25em; font-family: "Playfair Display"; font-size: 16px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-body h2 {
	margin: 10px 0px 15px; color: rgb(0, 0, 0); line-height: 1.4em; letter-spacing: 0.25em; font-family: "Playfair Display"; font-size: 16px;
}
.style-71afe2b8-f2atgvsw #vbid-71afe2b8-ebkpibh3 .preview-content-holder {
	text-align: center;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-mnexntgl {
	background-size: cover;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-b49nb7mi {
	background-position: 31.56% 47.79%; background-size: cover;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-coso2bxs {
	background-position: 40.69% 31.57%;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-wmpz3ay8 {
	background-position: 29% 19%; background-size: cover;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-ef0vvkbg {
	background-position: 47.04% 12.94%;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-rxuzk5fa {
	background-position: 48.3% 17.83%;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-9q61qiwz {
	background-size: 143%;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-5qbhn5fn {
	background-size: 56%;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-xkovqmll {
	background-position: 52.52% 45.29%; background-size: 35%;
}
.style-71afe2b8-f2atgvsw .inner-pic#vbid-71afe2b8-hv1qrphn {
	background-position: 50% 50%; background-size: contain;
}
.desktop-mode .style-71afe2b8-f2atgvsw .draggable-pic-wrapper#vbid-71afe2b8-cnunvt4k-wrapper {
	left: 895px; top: 192px; width: 269px; height: 269px;
}
.style-71afe2b8-f2atgvsw .draggable-pic#vbid-71afe2b8-cnunvt4k {
	background-position: left top; filter: none; background-size: contain; -webkit-filter: none;
}
.style-71afe2b8-f2atgvsw #vbid-71afe2b8-ebkpibh3 .preview-content-wrapper {
	text-align: center;
}
