.master.item-box#vbid-71afe2b8-n53ivecw {
	padding-top: 0px; padding-bottom: 0px; min-height: 416px;
}
.master.item-box#vbid-71afe2b8-rqbadz5k {
	padding-top: 0px; padding-bottom: 0px; min-height: 496px;
}
.master.item-box#vbid-71afe2b8-fcy5rmb6 {
	padding-top: 0px; padding-bottom: 0px; min-height: 269px;
}
.item-box#vbid-71afe2b8-fcy5rmb6 > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-epbykbbg {
	padding-top: 15px;
}
.master.item-box#vbid-71afe2b8-l28an2h7 {
	padding-top: 0px; padding-bottom: 0px; min-height: 223px;
}
#vbid-71afe2b8-bu9tti7e {
	background-position: 45.63% 22.34%;
}
.master.item-box#vbid-71afe2b8-scoqqfts {
	padding-top: 0px; padding-bottom: 0px; min-height: 312px;
}
.item-box#vbid-71afe2b8-scoqqfts > .item-wrapper {
	max-width: 1000px;
}
#vbid-71afe2b8-swxggzwr {
	background-position: 49.9% 0.61%;
}
.master.item-box#vbid-71afe2b8-hpxomdw5 {
	padding-top: 0px; padding-bottom: 0px; min-height: 140px;
}
#vbid-71afe2b8-lyj2dfjw {
	background-position: 50% 31.27%;
}
.master.item-box#vbid-71afe2b8-li8ym75m {
	padding-top: 0px; padding-bottom: 0px; min-height: 427px;
}
#vbid-71afe2b8-qy0thp82 {
	background-position: 23.34% 0%;
}
.master.item-box#vbid-71afe2b8-55oybw2a {
	padding-top: 0px; padding-bottom: 0px; min-height: 81px;
}
.master.item-box#vbid-71afe2b8-o1cob1v5 {
	min-height: 516px;
}
#vbid-71afe2b8-e8g7f5kr {
	background-position: 51.35% 16.83%;
}
.master.item-box#vbid-71afe2b8-qm8wz9xv {
	padding-top: 0px; padding-bottom: 0px; min-height: 366px;
}
.master.item-box#vbid-71afe2b8-0piy7mmc {
	padding-top: 0px; padding-bottom: 0px; min-height: 376px;
}
.item-box#vbid-71afe2b8-0piy7mmc > .item-wrapper {
	max-width: 1000px;
}
#vbid-71afe2b8-yvhaxjmv {
	background-position: 50.57% 54.66%;
}
.master.item-box#vbid-71afe2b8-3zyo9jfx {
	padding-top: 0px; padding-bottom: 0px; min-height: 428px;
}
#vbid-71afe2b8-ijhqt2xt {
	background-position: 47.91% 31.56%;
}
#vbid-71afe2b8-dcd1jxqu {
	background-position: 53.92% 51.59%;
}
.master.item-box#vbid-71afe2b8-8ybiivta {
	padding-top: 0px; padding-bottom: 0px; min-height: 421px;
}
#vbid-71afe2b8-gcoehf2v {
	background-size: 92%;
}
#vbid-71afe2b8-tfzxofol {
	background-position: 54.08% 91.56%;
}
.master.item-box#vbid-71afe2b8-jopev7h4 {
	padding-top: 60px; padding-bottom: 80px; min-height: 1343px;
}
.item-box#vbid-71afe2b8-jopev7h4 > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-nywb3aog {
	padding-top: 30px; padding-bottom: 30px; min-height: 1343px;
}
.master.item-box#vbid-71afe2b8-yaduwnnp {
	padding-top: 0px; padding-bottom: 0px; min-height: 682px;
}
.master.item-box#vbid-71afe2b8-ebvmmdxa {
	padding-top: 0px; padding-bottom: 0px; min-height: 1343px;
}
.item-box#vbid-71afe2b8-ebvmmdxa > .item-wrapper {
	max-width: 1416px;
}
.master.item-box#vbid-71afe2b8-zvddgp6k {
	min-height: 386px;
}
#vbid-71afe2b8-9pjuqtcg {
	background-position: 44.21% 48.31%;
}
.master.item-box#vbid-71afe2b8-dhtunrei {
	padding-top: 0px; padding-bottom: 0px; min-height: 257px;
}
.master.item-box#vbid-71afe2b8-s0wntmi2 {
	padding-top: 0px; padding-bottom: 0px; min-height: 759px;
}
.master.item-box#vbid-71afe2b8-rxm7dbcc {
	min-height: 603px;
}
.master.item-box#vbid-71afe2b8-ucksrjzp {
	padding-top: 0px; padding-bottom: 0px; min-height: 310px;
}
.master.item-box#vbid-71afe2b8-eqjeojo1 {
	padding-top: 10px; padding-bottom: 10px; min-height: 114px;
}
.item-box#vbid-71afe2b8-eqjeojo1 > .item-wrapper {
	max-width: 1144px;
}
.master.item-box#vbid-71afe2b8-j8kwfo9b {
	min-height: 773px;
}
#vbid-71afe2b8-9cevdxgn {
	background-position: 51.79% 11.39%;
}
.master.item-box#vbid-71afe2b8-u6cswahf {
	padding-top: 0px; min-height: 423px;
}
.master.item-box#vbid-71afe2b8-imguvd4d {
	padding-top: 0px; padding-bottom: 0px; min-height: 392px;
}
#vbid-71afe2b8-tq2zb4qa {
	background-position: 46.86% 26.3%;
}
#vbid-71afe2b8-qmr4ahxl {
	background-size: contain;
}
.master.item-box#vbid-71afe2b8-j0wm0tq7 {
	padding-top: 40px; padding-bottom: 40px;
}
.item-box#vbid-71afe2b8-j0wm0tq7 > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-rd2zqjar {
	padding-top: 70px; padding-bottom: 70px; min-height: 202px;
}
.item-box#vbid-71afe2b8-rd2zqjar > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-ra26vhks {
	padding-top: 0px; padding-bottom: 0px; min-height: 371px;
}
.master.item-box#vbid-71afe2b8-hv5gfusd {
	padding-top: 70px; padding-bottom: 70px;
}
.item-box#vbid-71afe2b8-hv5gfusd > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-gqhlfaol {
	padding-top: 0px; padding-bottom: 0px; min-height: 759px;
}
.master.item-box#vbid-71afe2b8-fnhibdtp {
	min-height: 231px;
}
#vbid-71afe2b8-5decdmvv {
	background-position: 46.97% 89.39%;
}
.master.item-box#vbid-71afe2b8-6bmxqk2t {
	padding-top: 0px; min-height: 503px;
}
.item-box#vbid-71afe2b8-6bmxqk2t > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-wwcbyuxz {
	padding-top: 0px; padding-bottom: 0px; min-height: 714px;
}
.master.item-box#vbid-71afe2b8-sfct7bbb {
	padding-top: 0px; padding-bottom: 0px; min-height: 688px;
}
.master.item-box#vbid-71afe2b8-t9mlpbue {
	padding-top: 0px; padding-bottom: 0px; min-height: 514px;
}
#vbid-71afe2b8-fs5h8za0 {
	background-size: contain;
}
.master.item-box#vbid-71afe2b8-oo34aixt {
	padding-top: 70px; padding-bottom: 70px;
}
.item-box#vbid-71afe2b8-oo34aixt > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-r1e6aaeu {
	min-height: 699px;
}
.master.item-box#vbid-71afe2b8-llwso5fq {
	
}
.master.item-box#vbid-71afe2b8-llwso5fq {
	padding-top: 0px; padding-bottom: 0px; min-height: 501px;
}
.master.item-box#vbid-71afe2b8-aqvefdfl {
	padding-top: 10px; padding-bottom: 10px; min-height: 114px;
}
.item-box#vbid-71afe2b8-aqvefdfl > .item-wrapper {
	max-width: 1270px;
}
.master.item-box#vbid-71afe2b8-bhm0issc {
	min-height: 551px;
}
.master.item-box#vbid-71afe2b8-bntbbved {
	padding-top: 10px; padding-bottom: 10px; min-height: 114px;
}
.item-box#vbid-71afe2b8-bntbbved > .item-wrapper {
	max-width: 1144px;
}
.master.item-box#vbid-71afe2b8-ij6usi8u {
	padding-top: 0px; padding-bottom: 0px; min-height: 604px;
}
#vbid-71afe2b8-gn6ikkfh {
	background-position: 12.1% 42.21%;
}
.master.item-box#vbid-71afe2b8-jxzhqczp {
	padding-top: 0px; padding-bottom: 35px; min-height: 1343px;
}
.item-box#vbid-71afe2b8-jxzhqczp > .item-wrapper {
	max-width: 1168px;
}
#vbid-71afe2b8-tbhxwtci {
	background-position: 51.93% 44.85%;
}
.master.item-box#vbid-71afe2b8-v6r8hw6u {
	padding-top: 0px; padding-bottom: 0px; min-height: 704px;
}
#vbid-71afe2b8-hq1rpqap {
	background-position: 36.1% 48.37%;
}
.master.item-box#vbid-71afe2b8-hg0nzlls {
	padding-top: 0px; padding-bottom: 0px; min-height: 1343px;
}
.master.item-box#vbid-71afe2b8-imgx8ivt {
	padding-top: 0px; padding-bottom: 0px; min-height: 376px;
}
.master.item-box#vbid-71afe2b8-7asftipl {
	padding-top: 0px; padding-bottom: 0px; min-height: 85px;
}
.master.item-box#vbid-71afe2b8-bdmwvsqc {
	padding-top: 0px; padding-bottom: 0px; min-height: 147px;
}
.master.item-box#vbid-71afe2b8-bhy0hazx {
	padding-top: 10px; padding-bottom: 10px; min-height: 114px;
}
.item-box#vbid-71afe2b8-bhy0hazx > .item-wrapper {
	max-width: 1000px;
}
#vbid-71afe2b8-brqosgb5 {
	background-position: 41.96% 0%;
}
.master.item-box#vbid-71afe2b8-lc0vwhvh {
	
}
.master.item-box#vbid-71afe2b8-lc0vwhvh {
	padding-top: 0px; padding-bottom: 0px; min-height: 557px;
}
.master.item-box#vbid-71afe2b8-do9vmwka {
	padding-top: 0px; padding-bottom: 0px; min-height: 312px;
}
#vbid-71afe2b8-xy1bmh4o {
	background-position: 48.43% 71.09%;
}
.master.item-box#vbid-71afe2b8-zf3u6iew {
	padding-top: 0px; padding-bottom: 0px; min-height: 281px;
}
.master.item-box#vbid-71afe2b8-t583gjgc {
	padding-top: 0px; padding-bottom: 0px; min-height: 197px;
}
#vbid-71afe2b8-abpkxzcm {
	background-position: 48.64% 18.51%;
}
.master.item-box#vbid-71afe2b8-s0om5rsb {
	
}
.master.item-box#vbid-71afe2b8-s0om5rsb {
	padding-top: 0px; padding-bottom: 0px; min-height: 404px;
}
.item-box#vbid-71afe2b8-s0om5rsb > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-sqblwghf {
	padding-top: 30px; padding-bottom: 30px; min-height: 202px;
}
.item-box#vbid-71afe2b8-sqblwghf > .item-wrapper {
	max-width: 1256px;
}
.master.item-box#vbid-71afe2b8-eq6x2god {
	padding-top: 70px; padding-bottom: 70px;
}
.item-box#vbid-71afe2b8-eq6x2god > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-j6hnyg5u {
	padding-top: 15px; padding-bottom: 5px; min-height: 114px;
}
.item-box#vbid-71afe2b8-j6hnyg5u > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-vtbsdfxa {
	padding-top: 0px; padding-bottom: 0px; min-height: 296px;
}
#vbid-71afe2b8-nfjclsxi {
	background-position: 48.64% 26.62%;
}
.master.item-box#vbid-71afe2b8-gzn0paaf {
	padding-top: 70px; padding-bottom: 60px; min-height: 202px;
}
.item-box#vbid-71afe2b8-gzn0paaf > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-avurxblx {
	padding-top: 0px; padding-bottom: 20px;
}
.item-box#vbid-71afe2b8-avurxblx > .item-wrapper {
	max-width: 1000px;
}
#vbid-71afe2b8-eyjkfwvb {
	background-position: 51.88% 24.13%;
}
#vbid-71afe2b8-nnhx90fe {
	background-size: contain;
}
.master.item-box#vbid-71afe2b8-mcra2z3e {
	padding-top: 0px; padding-bottom: 0px; min-height: 490px;
}
.master.item-box#vbid-71afe2b8-bhwaarm4 {
	padding-top: 40px; padding-bottom: 40px;
}
.item-box#vbid-71afe2b8-bhwaarm4 > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-iyrto5vq {
	min-height: 231px;
}
#vbid-71afe2b8-grzd3wez {
	background-position: 56.06% 100%;
}
#vbid-71afe2b8-ebahfsrx {
	background-position: 48.21% 23.99%;
}
#vbid-71afe2b8-7yrdiaks {
	background-position: 54.08% 100%;
}
.master.item-box#vbid-71afe2b8-wjtrdwt5 {
	padding-top: 0px; padding-bottom: 0px; min-height: 759px;
}
#vbid-71afe2b8-d8ng98bn {
	background-position: 43.69% 53.78%;
}
.master.item-box#vbid-71afe2b8-xiv4phrz {
	padding-top: 0px; padding-bottom: 0px; min-height: 507px;
}
.master.item-box#vbid-71afe2b8-2efafwaz {
	
}
.master.item-box#vbid-71afe2b8-2efafwaz {
	min-height: 365px;
}
.master.item-box#vbid-71afe2b8-uckci1ck {
	padding-bottom: 0px; min-height: 883px;
}
.item-box#vbid-71afe2b8-uckci1ck > .item-wrapper {
	max-width: 1000px;
}
.master.item-box#vbid-71afe2b8-hmszi8bh {
	padding-top: 0px; padding-bottom: 0px; min-height: 802px;
}
