.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz.master.item-box {
	background-color: rgba(0, 0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-title {
	margin: 5px 20px 0px; color: rgb(0, 0, 0); letter-spacing: 0em; font-family: Arial; font-size: 18px; background-color: rgba(11, 11, 11, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-body h1 {
	margin: 5px 20px 0px; color: rgb(0, 0, 0); letter-spacing: 0em; font-family: Arial; font-size: 18px; background-color: rgba(11, 11, 11, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-link-img {
	margin: 18px; width: 30px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-content-wrapper {
	text-align: center;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-content-holder {
	margin: 35px 20px; text-align: center; max-width: 400px; background-color: rgba(246, 239, 217, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-item-links span {
	color: rgb(255, 255, 255); font-family: Arial; font-size: 13px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz #sr-basket-widget * {
	color: rgb(255, 255, 255); font-family: Arial; font-size: 13px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz :not(.blocks_layout).item-content {
	background-color: rgb(85, 72, 64);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-divider {
	border-color: rgb(255, 255, 255);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-subtitle-holder {
	text-align: center;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-body {
	margin: 10px 20px 0px; color: rgb(0, 0, 0); line-height: 1.4em; letter-spacing: 0.05em; font-family: Abel; font-size: 16px; background-color: rgba(255, 255, 255, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-element.icon-source {
	width: 30px; color: rgb(255, 255, 255); padding-right: 20px; padding-left: 20px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-social-holder {
	margin: 25px 5px 10px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .background-div {
	color: rgb(0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .middle_layout .helper-div {
	max-width: 1050px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .multi_layout .helper-div.middle-center .text-side {
	max-width: 1050px;
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-subtitle {
	margin: 5px 20px 10px; color: rgb(255, 255, 255); line-height: 1.2em; letter-spacing: 0.1em; font-family: "Playfair Display"; font-size: 16px; background-color: rgba(0, 0, 0, 0);
}
.style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-body h2 {
	margin: 5px 20px 10px; color: rgb(255, 255, 255); line-height: 1.2em; letter-spacing: 0.1em; font-family: "Playfair Display"; font-size: 16px; background-color: rgba(0, 0, 0, 0);
}
