/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-71afe2b8-n53ivecw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 416px;
}
 
 #vbid-71afe2b8-rqbadz5k.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 496px;
}
 
 #vbid-71afe2b8-fcy5rmb6.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 269px;
} 
 #vbid-71afe2b8-fcy5rmb6.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-epbykbbg.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-71afe2b8-l28an2h7.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 223px;
}
 
 #vbid-71afe2b8-bu9tti7e   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-71afe2b8-scoqqfts.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 312px;
} 
 #vbid-71afe2b8-scoqqfts.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-swxggzwr   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-71afe2b8-hpxomdw5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 140px;
}
 
 #vbid-71afe2b8-lyj2dfjw   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-71afe2b8-li8ym75m.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 427px;
}
 
 #vbid-71afe2b8-qy0thp82   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-71afe2b8-55oybw2a.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 81px;
}
 
 #vbid-71afe2b8-o1cob1v5.master.item-box    {
	min-height: 516px;
}
 
 #vbid-71afe2b8-e8g7f5kr   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-71afe2b8-qm8wz9xv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 366px;
}
 
 #vbid-71afe2b8-0piy7mmc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 376px;
} 
 #vbid-71afe2b8-0piy7mmc.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-yvhaxjmv   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-71afe2b8-3zyo9jfx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 428px;
}
 
 #vbid-71afe2b8-ijhqt2xt   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-71afe2b8-dcd1jxqu   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-71afe2b8-8ybiivta.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 421px;
}
 
 #vbid-71afe2b8-gcoehf2v   {
	background-size: 92%;
}
 
 #vbid-71afe2b8-tfzxofol   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-71afe2b8-jopev7h4.master.item-box    {
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 1343px;
} 
 #vbid-71afe2b8-jopev7h4.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-nywb3aog.master.item-box    {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 1343px;
}
 
 #vbid-71afe2b8-yaduwnnp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 682px;
}
 
 #vbid-71afe2b8-ebvmmdxa.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
} 
 #vbid-71afe2b8-ebvmmdxa.item-box > .item-wrapper    {
	max-width: 1416px;
}
 
 #vbid-71afe2b8-zvddgp6k.master.item-box    {
	min-height: 386px;
}
 
 #vbid-71afe2b8-9pjuqtcg   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-71afe2b8-dhtunrei.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 257px;
}
 
 #vbid-71afe2b8-s0wntmi2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 759px;
}
 
 #vbid-71afe2b8-rxm7dbcc.master.item-box    {
	min-height: 603px;
}
 
 #vbid-71afe2b8-ucksrjzp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 310px;
}
 
 #vbid-71afe2b8-eqjeojo1.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-71afe2b8-eqjeojo1.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-71afe2b8-j8kwfo9b.master.item-box    {
	min-height: 773px;
}
 
 #vbid-71afe2b8-9cevdxgn   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-71afe2b8-u6cswahf.master.item-box    {
	padding-top: 0px;
	min-height: 423px;
}
 
 #vbid-71afe2b8-imguvd4d.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 392px;
}
 
 #vbid-71afe2b8-tq2zb4qa   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-71afe2b8-qmr4ahxl   {
	background-size: contain;
}
 
 #vbid-71afe2b8-j0wm0tq7.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-71afe2b8-j0wm0tq7.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-rd2zqjar.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 202px;
} 
 #vbid-71afe2b8-rd2zqjar.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-ra26vhks.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 371px;
}
 
 #vbid-71afe2b8-hv5gfusd.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-71afe2b8-hv5gfusd.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-gqhlfaol.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 759px;
}
 
 #vbid-71afe2b8-fnhibdtp.master.item-box    {
	min-height: 231px;
}
 
 #vbid-71afe2b8-5decdmvv   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-71afe2b8-6bmxqk2t.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-71afe2b8-6bmxqk2t.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-wwcbyuxz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 714px;
}
 
 #vbid-71afe2b8-sfct7bbb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 688px;
}
 
 #vbid-71afe2b8-t9mlpbue.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 514px;
}
 
 #vbid-71afe2b8-fs5h8za0   {
	background-size: contain;
}
 
 #vbid-71afe2b8-oo34aixt.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-71afe2b8-oo34aixt.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-r1e6aaeu.master.item-box    {
	min-height: 699px;
}
 
 #vbid-71afe2b8-llwso5fq.master.item-box    {
} 
 #vbid-71afe2b8-llwso5fq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 501px;
}
 
 #vbid-71afe2b8-aqvefdfl.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-71afe2b8-aqvefdfl.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-71afe2b8-bhm0issc.master.item-box    {
	min-height: 551px;
}
 
 #vbid-71afe2b8-bntbbved.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-71afe2b8-bntbbved.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-71afe2b8-ij6usi8u.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 604px;
}
 
 #vbid-71afe2b8-gn6ikkfh   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-71afe2b8-jxzhqczp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
} 
 #vbid-71afe2b8-jxzhqczp.item-box > .item-wrapper    {
	max-width: 1168px;
}
 
 #vbid-71afe2b8-tbhxwtci   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-71afe2b8-v6r8hw6u.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 704px;
}
 
 #vbid-71afe2b8-hq1rpqap   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-71afe2b8-hg0nzlls.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-71afe2b8-imgx8ivt.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 376px;
}
 
 #vbid-71afe2b8-7asftipl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 85px;
}
 
 #vbid-71afe2b8-bdmwvsqc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 147px;
}
 
 #vbid-71afe2b8-bhy0hazx.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-71afe2b8-bhy0hazx.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-brqosgb5   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-71afe2b8-lc0vwhvh.master.item-box    {
} 
 #vbid-71afe2b8-lc0vwhvh.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 557px;
}
 
 #vbid-71afe2b8-do9vmwka.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 312px;
}
 
 #vbid-71afe2b8-xy1bmh4o   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-71afe2b8-zf3u6iew.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
}
 
 #vbid-71afe2b8-t583gjgc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 197px;
}
 
 #vbid-71afe2b8-abpkxzcm   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-71afe2b8-s0om5rsb.master.item-box    {
} 
 #vbid-71afe2b8-s0om5rsb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 404px;
} 
 #vbid-71afe2b8-s0om5rsb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-sqblwghf.master.item-box    {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 202px;
} 
 #vbid-71afe2b8-sqblwghf.item-box > .item-wrapper    {
	max-width: 1256px;
}
 
 #vbid-71afe2b8-eq6x2god.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-71afe2b8-eq6x2god.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-j6hnyg5u.master.item-box    {
	padding-top: 15px;
	padding-bottom: 5px;
	min-height: 114px;
} 
 #vbid-71afe2b8-j6hnyg5u.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-vtbsdfxa.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 296px;
}
 
 #vbid-71afe2b8-nfjclsxi   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-71afe2b8-gzn0paaf.master.item-box    {
	padding-top: 70px;
	padding-bottom: 60px;
	min-height: 202px;
} 
 #vbid-71afe2b8-gzn0paaf.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-avurxblx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 20px;
} 
 #vbid-71afe2b8-avurxblx.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-eyjkfwvb   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-71afe2b8-nnhx90fe   {
	background-size: contain;
}
 
 #vbid-71afe2b8-mcra2z3e.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 490px;
}
 
 #vbid-71afe2b8-bhwaarm4.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-71afe2b8-bhwaarm4.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-iyrto5vq.master.item-box    {
	min-height: 231px;
}
 
 #vbid-71afe2b8-grzd3wez   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-71afe2b8-ebahfsrx   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-71afe2b8-7yrdiaks   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-71afe2b8-wjtrdwt5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 759px;
}
 
 #vbid-71afe2b8-d8ng98bn   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-71afe2b8-xiv4phrz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 507px;
}

 
 #vbid-71afe2b8-2efafwaz.master.item-box    {
} 
 #vbid-71afe2b8-2efafwaz.master.item-box    {
	min-height: 365px;
}
 
 #vbid-71afe2b8-uckci1ck.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-71afe2b8-uckci1ck.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-71afe2b8-hmszi8bh.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 802px;
}