/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-71afe2b8-omqxualz
 *                                 	 
 ******************************************************************************************************/
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-title  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-body h1  { 
						font-size: 18px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						margin-right: 20px;
						margin-top: 5px;
						margin-left: 20px;
						margin-bottom: 0px;
						font-family: Arial;
						background-color: rgba(11, 11, 11, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-link-img  {
		
						width: 30px;
						margin: 18px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz  .preview-content-holder  {
		
						text-align: center;
						max-width: 400px;
						margin-right: 20px;
						margin-top: 35px;
						margin-left: 20px;
						margin-bottom: 35px;
						background-color: rgba(246, 239, 217, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-item-links span  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz #sr-basket-widget *  { 
						color: #ffffff;
						font-family: Arial;
						font-size: 13px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .item-content:not(.blocks_layout)  {
		
						background-color: rgb(85, 72, 64);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-divider  {
		
						border-color: rgb(255, 255, 255);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-subtitle-holder  {
		
						text-align: center;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-body  {
		
						font-family: Abel;
						font-size: 16px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						margin-right: 20px;
						margin-top: 10px;
						margin-left: 20px;
						margin-bottom: 0px;
						line-height: 1.4em;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						padding-right: 20px;
						padding-left: 20px;
						width: 30px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 25px;
						margin-left: 5px;
						margin-right: 5px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .background-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .middle_layout .helper-div  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-subtitle  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-omqxualz .preview-body h2  { 
						line-height: 1.2em;
						font-size: 16px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.1em;
						margin-right: 20px;
						margin-top: 5px;
						margin-left: 20px;
						margin-bottom: 10px;
						font-family: "Playfair Display";
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
