/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-71afe2b8-9szl8n0q
 *                                 	 
 ******************************************************************************************************/
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q.master.item-box   {
		
						position: relative;
						background-color: rgb(243, 240, 225);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links span:hover  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(147, 147, 147, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links span:before  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .effect-tester  { 
						background-color: rgb(181, 181, 181);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q.master.item-box   {
		
						padding-left: 3%;
						width: 94%;
						padding-right: 3%;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links  {
		
						text-align: center;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						max-width: 2000px;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						background-color: rgba(0, 0, 0, 0);
						text-align: left;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links span  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q #sr-basket-widget *  { 
						font-size: 14px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						padding-bottom: 20px;
						border-color: rgba(255, 255, 255, 0.670588);
						letter-spacing: -0.0em;
						max-width: 1150px;
						padding-right: 10px;
						padding-left: 10px;
						padding-top: 20px;
						font-family: Abel;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-title  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-body h1  { 
						font-size: 14px;
						color: rgb(50, 50, 60);
						letter-spacing: 0.05em;
						font-weight: bold;
						margin-left: 0px;
						font-family: Raleway;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-item-links.allow-bg-color  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .submenu  { 
						background-color: rgba(0, 0, 0, 0.619608);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-divider  {
		
						border-bottom-width: 1px;
						width: 10%;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .stripe-background  {
		
						margin-left: -3%;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-right: 10px;
						margin-top: 0px;
						margin-left: 10px;
						margin-bottom: 0px;
						width: 30px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: left;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .middle_layout .helper-div  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-subtitle  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-9szl8n0q .preview-body h2  { 
						font-size: 16px;
						color: rgba(0, 0, 0, 0.619608);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						font-family: Montserrat;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
