/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-71afe2b8-f2atgvsw
 *                                 	 
 ******************************************************************************************************/
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 550px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(230, 210, 80, 0);
						padding-left: 0px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-divider  {
		
						border-style: solid;
						border-color: rgb(255, 255, 255);
						border-bottom-width: 5px;
						margin-top: 20px;
						margin-bottom: 20px;
						width: 100%;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .inner-pic  {
		
						opacity: 0.24;
						color: rgb(0, 0, 0);
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-subtitle-holder  {
		
						max-width: 650px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .background-div  {
			
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-title  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-body h1  { 
						line-height: 1.0em;
						font-size: 80px;
						color: rgb(158, 154, 117);
						letter-spacing: 0.0em;
						margin-top: 0px;
						margin-bottom: 10px;
						font-family: "Playfair Display";
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .draggable-pic-wrapper  {
			
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .draggable-pic  {
			
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-item-links span  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw #sr-basket-widget *  { 
						border-width: 2px;
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(243, 240, 225);
						padding-bottom: 20px;
						border-color: rgba(0, 0, 0, 0);
						letter-spacing: 0.1em;
						padding-right: 35px;
						margin-top: 20px;
						padding-left: 35px;
						border-radius: 0px;
						padding-top: 20px;
						margin-bottom: 25px;
						font-family: Abel;
						background-color: rgb(246, 116, 116);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .stripe-background  {
		
						opacity: 0.61;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-element.icon-source  {
		
						margin-bottom: 15px;
						width: 550px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .draggable-pic  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .background-image-div  {
		
						color: rgb(0, 0, 0);
						opacity: 1;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-link-img  {
		
						width: 30px;
						margin: 14px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-body-holder  {
		
						max-width: 800px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: middle;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-item-links span:hover  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(0, 0, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .inner-pic-holder  {
		
						background-color: rgb(85, 72, 64);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-item-links span:before  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-body  {
		
						line-height: 1.4em;
						font-size: 62px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						max-width: 1000px;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;	
		}
	
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 10px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .middle_layout .helper-div  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-subtitle  ,  .style-71afe2b8-jfbjyfog .style-71afe2b8-f2atgvsw .preview-body h2  { 
						font-family: "Playfair Display";
						font-size: 16px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.25em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						margin-bottom: 15px;
						line-height: 1.4em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-71afe2b8-f2atgvsw #vbid-71afe2b8-ebkpibh3 .preview-content-holder{
				
							text-align : center;
					
				}


 .style-71afe2b8-f2atgvsw #vbid-71afe2b8-mnexntgl.inner-pic{
				
							background-size : cover;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-b49nb7mi.inner-pic{
				
							background-size : cover;
					
							background-position : 31.5622% 47.7852%;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-coso2bxs.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-wmpz3ay8.inner-pic{
				
							background-size : cover;
					
							background-position : 29% 19%;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-ef0vvkbg.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-rxuzk5fa.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-9q61qiwz.inner-pic{
				
							background-size : 143%;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-5qbhn5fn.inner-pic{
				
							background-size : 56%;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-xkovqmll.inner-pic{
				
							background-size : 35%;
					
							background-position : 52.5223% 45.2927%;
					
				} .style-71afe2b8-f2atgvsw #vbid-71afe2b8-hv1qrphn.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				}






.desktop-mode .style-71afe2b8-f2atgvsw #vbid-71afe2b8-cnunvt4k-wrapper.draggable-pic-wrapper{
				
							top : 192px;
					
							left : 895px;
					
							height : 269px;
					
							width : 269px;
					
				}
 .style-71afe2b8-f2atgvsw #vbid-71afe2b8-cnunvt4k.draggable-pic{
				
							-webkit-filter:none;filter:none;
						
					
							background-position : top left;
					
							background-size : contain;
					
				}








 .style-71afe2b8-f2atgvsw #vbid-71afe2b8-ebkpibh3 .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
